{% extends '_layout.html' %}

{% block title %}About{% endblock %}

{% block body %}

<h1 class="mb-5 about-body">About PocketPinch</h1>
<img src="/static/images/coinstack.gif" alt="coin stack gif" class="about-gif">
    <h2>Why PocketPinch?</h2>
        <p>
            PocketPinch was created to provide it's users with a way to save money without being made to feel bad about their choices.
            PocketPinch was designed with the desire to allow it's users to tailor the money saving tips and tricks they'd like to adapt. 
            These tips and tricks are targeted towards allowing it's users to reach a variety of money saving goals and implement various money saving strategies.
        </p>
        <p>
            PocketPinch is important to us because financial literacy is typically a sensitive topic within families. 
            This taboo nature surrounding talks of financial literacy has made it so that families in poverty often remain in poverty. 
            By creating PocketPinch, we're hoping that we can help to normalize talks surrounding financial literacy and aid families in developing healthy money saving strategies. 
            The hope is that users will soon realize saving money and pinching pennies doesn't have to be anything to be ashamed of. 
        </p>
    <br>
    <h2>Future of PocketPinch</h2>
        <p>
            <strong><em>More Money Personalities:</em></strong>
            While we are extremely proud of the progress we've made in PocketPinch, we acknowledge that we have a long way to go. 
            Our current product design does a good job of providing users with the general sense of the type of spender they are and how to save money. 
            In the future, we'd like to increase our number of money habit personalities. 
            Increasing the personality count would allow us to better service a wide disaspera of individuals. 
        </p>
        <p>
            <strong><em>Linking Bank Accounts:</em></strong>
            Additionally, we'd like to allow our users to link their bank accounts. 
            Providing this service will allow us to better analyze our users spending habits.
            With better data surrounding each user, we'd be able to create a more tailored and customizable plan for them to follow to reach their spending goals. 
            We'd also be able to allow users to opt in/out of our various plans and spending tips. 
        </p>
        <p>
            <strong><em>Coupons:</em></strong>
            While analyzing our users spending habits, we intend to provide them with coupons to stores they frequent and items they frequently purchase. 
            If users opt-in to geolocation, we'd notify our users if there's a coupon we think they'd like at the store their visitng. 
        </p>
        <p>
            <strong><em>Geolocation:</em></strong>
            Having the options of allowing our users to opt in to geolocation tracking would greatly optimize our product. 
            This addition would allow us to track which restaurants and stores our users visit. 
            In combination with our bank linking feature, we'd be able to analzye how often our users visit a store versus how often they spend money at that store. 
            We'd be able to use this analysis to further customize our plans for our users. 
            These customization would include allowing users to set a spending goal for a specific store; congratulating users if they reach that goal or providing unique tips for the user to follow if they aren't able to meet their goal. 
        </p>
        <p>
            <strong><em>Alternative Spending Suggestions:</em></strong>
            This would argueably be our most beneficial feature to our users. 
            Alternative spending suggestions involves analyzing the specific items that our users buy. 
            In this analysis, we'd be looking to see if our users could save money by purchasing a smaller size of a drink, or changing the clothing brand they buy from. 
            If we're able to find good alternatives to our users' typical items, we'll suggest that the user switch the items that they purchase. 
            Users would have the option to opt certain items out, if they prefer the quality and don't want to be given alternative suggestion. 
            <br>
            Alternative spending suggestions also includes notifying our users if they should wait to purchase an item. 
            Say a user is about to purchase an item that's going to go on sale in the next few days. 
            The alternative suggestions feature would inform the user that the item will be going on sale soon, and suggest that they wait to purchase the item. 
        </p>
    <br>
    <h1>Creators</h1>         
        <div class="container text-center">
            <div class="row justify-content-start align-items-center">
                <div class="col-4">
                    <img width="240"  src="/static/images/PearlHacksMJ.jpeg" alt="MJ Dorcelien" class="about-imgs">
                </div>
                <div class="col-8">
                    <h3>MJ Dorcelien</h3>
                    <p>
                        MJ Dorcelien is a Junior at the University of North Carolina at Charlotte.
                        While at UNC Charlotte, she is working towards her BS in Computer Science with a concentration in software engineering, a BA in Sociology with Honors and a math minor, and an MS in Information Technology with a concentration in Software Systems and Development.
                        She is an active member of the Student Accountability Board at UNC Charlotte as well as the financial chair of UNC Charlotte's chapter of the Association of Computing Machinery - Women.
                        In her free time, MJ enjoys knitting, crocheting, reading, and spending time with her niece.
                    </p>    
                    <p><strong><em>Contact MJ: </em></strong><a target="_blank" href="https://www.linkedin.com/in/mj-dorcelien/">LinkedIn</a> <a target="_blank" href="https://github.com/MJDorcelien">GitHub</a></p>    
                </div>
            </div>
        </div>
        <br>
        <div class="container text-center">
            <div class="row justify-content-start align-items-center">
                <div class="col-4">
                    <img width="240" src="/static/images/PearlHacksDene.jpeg" alt="Dene Logan" class="about-imgs"> 
                </div>
                <div class="col-8">
                    <h3>Dené Logan</h3>
                    <p>
                        Currently Dené Logan is pursuing her Bachelor of Arts in Computer Science at UNCC- College of Computing and Informatics. 
                        Penchant for all things creative; website/app design, paper-craft, model building, social media marketing, etc.
                        She love to collaborate, learn and offer help when she can.
                    </p>
                    <p><strong><em>Contact Dene: </em></strong><a target="_blank" href="https://www.linkedin.com/in/dene-logan/">LinkedIn</a> <a target="_blank" href="https://github.com/DeneLogan">GitHub</a></p>        
                </div>
            </div>
        </div>
        <br>
        <div class="container text-center">
            <div class="row justify-content-start align-items-center">
                <div class="col-4">
                    <img width="240" src="/static/images/PearlHacksSydney.jpg" alt="Sydney Melech" class="about-imgs">
                </div>
                <div class="col-8">
                    <h3>Sydney Melech</h3>
                    <p>
                        Sydney Melech is attending The University of North Carolina at Charlotte and majoring in Computer Science and minoring in Mathematics.
                        She was apart of the Academy of Information Technology at Apex High School. 
                        Through this she was introduced to coding languages like Visual Basic, Python, HTML, Java, and SAS. 
                        She also improved my presentation, communication, and public speaking skills. 
                        At UNCC she am concentrating is Software, Systems, and Networking where she am learning how to code, design, and build mobile websites and applications. 
                        She is also gaining knowledge on how to develop computers, networks, and databases.
                        She also hope to further my education by getting my Master's Degree in Information Technology at The University of North Carolina at Charlotte.
                    </p>
                    <p><strong><em>Contact Sydney: </em></strong><a target="_blank" href="https://www.linkedin.com/in/sydney-melech/">LinkedIn</a> <a target="_blank" href="https://github.com/semelech">GitHub</a></p>        
                </div>
            </div>
        </div>
        <br>
        <div class="container text-center">
            <div class="row justify-content-start align-items-center">
                <div class="col-4">
                <img width="240" src="/static/images/PearlHacksSumi.jpg" alt="Sumi Verma" class="about-imgs">
                </div>
                <div class="col-8">
                    <h3>Sumi Verma</h3>
                <p>
                    Sumi Verma is a Computer Science junior at The University of North Carolina at Charlotte passionate about full-stack development, AI, and Mixed Reality. 
                    She enjoys problem solving and exploring how she can make a positive impact with technology. 
                    She interned at Microsoft as an Explore Intern for the summer of 2021, a SWE Intern for the summer of 2022, and will be returning as a SWE intern in the summer of 2023.
                    She's currently doing research in Machine Learning Based Parameter Tuning and works as a TA for the Logic & Algorithms course.
                    She's an active member of ACM-W and Girls Who Code and enjoys going to hackathons.
                    In her free time she enjoys reading fantasy books, petting cats, and eating interesting food.
                </p>
                <p><strong><em>Contact Sumi: </em></strong><a target="_blank" href="https://www.linkedin.com/in/sumiv/">LinkedIn</a> <a target="_blank" href="https://github.com/sumiv">GitHub</a></p>
                </div>
            </div>
        </div>
{% endblock %}