{% extends '_layout.html' %}

{% block title %}FOMO{% endblock %}

{% block body %}
<h1 class="mb-5">FOMO</h1>
<h3 class="mb-3">Spending Philosophy</h3>
<p>An individual who is a bargain shopper and loves coupons can still work on their spending habits to improve their overall financial situation. One strategy could be to set a budget for discretionary spending and stick to it, even if it means avoiding tempting sales or coupon deals. It may also be helpful to prioritize spending by distinguishing between needs and wants and focus on purchasing essential items first. Additionally, they can explore alternative ways to save money, such as shopping at discount stores or purchasing items used instead of new. Another effective technique is to keep track of spending, to help identify areas where you may be overspending. With these steps, even the most dedicated bargain shoppers and hoarders can fix their spending habits to achieve their financial goals.</p>
{% endblock %}