{% extends '_layout.html' %}

{% block title %}Money Personality Types{% endblock %}

{% block body %}
<h1 class="mb-5">Money Personality Types</h1>
<p class="mb-3">Plan page text</p>
<p class="mb-3">Have trouble with money? Pocket Pinch is here to help!</p>
<img src="../static/images/finlit.jpeg" alt="financial literacy">
<p>Take our quiz to get started!</p>

<div class="card mb-3" style="max-width: 1024px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../static/images/creditcard.jpeg" class="card-img-top" alt="overspending">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Splurger</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi vel enim nesciunt, veritatis voluptate perferendis ipsum? Harum omnis corrupti cum aut impedit amet praesentium vitae ad magni porro, quaerat magnam!</p>
          <a href="../templates/splurger.html" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card mb-3" style="max-width: 1024px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Hoarder</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora similique eius, error voluptatem voluptates qui excepturi. Laudantium error, sunt recusandae temporibus veritatis ipsum voluptatibus saepe hic, corporis, nostrum iste obcaecati?</p>
          <a href="../templates/hoarder.html" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card mb-3" style="max-width: 1024px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">FOMO</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora similique eius, error voluptatem voluptates qui excepturi. Laudantium error, sunt recusandae temporibus veritatis ipsum voluptatibus saepe hic, corporis, nostrum iste obcaecati?</p>
          <a href="../templates/fomo.html" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}