{% extends '_layout.html' %}

{% block title %}Spending Personality Types{% endblock %}

{% block body %}
<h1 class="mb-5">Spending Personality Types</h1>
<p class="mb-3">Plan page text</p>
<div class="card mb-3" style="max-width: 1500px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="/static/images/creditcard.jpeg" class="card-img-top" alt="overspending">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Splurger</h5>
          <p class="card-text">Is shopping one of your favorite hobbies? Do you spend your salary right after getting it and convince yourself you can earn it back? Do you not have an emergency fund? If this sounds like you, you might be a Splurger. Splurgers struggle with saving and budgeting money, instead finding themselves spending on instant purchases. Click the button below to learn how to build a better financial future.</p>
          <a href="../templates/splurger.html" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="/static/images/lockedwallet.jpeg" class="card-img-top" alt="hoarder">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Hoarder</h5>
          <p class="card-text">Do you feel anxiety spending money? Does encountering money decisions leave you with confusion and uncertainty? Have you never invested your money? If this sounds like you, you might be a Hoarder. Hoarders hold on to their money without clear ideas on what they're saving for. Click the button below to formulate financial goals that you can invest towards.</p>
          <a href="../templates/hoarder.html" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="/static/images/wallet.png" class="card-img-top" alt="bargain hunter">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">FOMO</h5>
          <p class="card-text">Can you never turn away from a deal? Do you tell yourself buying items on sale is actually saving you money in the long run? Do you start your month intending on saving for long term purchases but end up spending on purchases you didn't plan to make? If this sound like you, you might be a FOMO. FOMOs want to save money by grabbing the best deals but often end up acheiving the opposite of that. Click the link below to create long term financial goals to focus on.</p>
          <a href="../templates/fomo.html" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}