{% extends '_layout.html' %}

{% block title %}Resources | Home{% endblock %}

{% block body %}

<h1 class="mb-5">Resources</h1>

<h3>Here is a list of articles that can help you with your finances.</h3>

<article>
    <h1><a href="https://www.fscb.com/blog/7-money-management-tips-to-improve-your-finances" title="First Article">7 Money Management Tips to Improve Your Finances</a></h1>
    <!-- <img src="" alt="" /> -->
    <p>The article provides seven tips for better personal finance management. These tips include tracking your spending, creating a realistic monthly budget, building up your savings, paying your bills on time every month, cutting back on recurring charges, saving up cash for big purchases, and starting an investment strategy. The tips aim to help people reduce their spending, improve their ability to invest and save, and achieve financial goals. By committing to these changes, people can develop good money management skills that will serve them throughout their life and have more money in their pockets.</p>
</article>

<article>
    <h1><a href="https://www.forbes.com/advisor/in/personal-finance/how-to-have-better-financial-health/s" title="Second Article">How To Have Better Financial Health in 2022</a></h1>
    <!-- <img src="" alt="" /> -->
    <p>A new year is a good time to review your financial decisions and track spending patterns and investments. This review is important for managing money, which requires an honest look at financial habits and biases. The steps to improve financial health in 2022 include reviewing investments, examining unnecessary expenses, automating savings and investments, and channeling money into different investment avenues. A yearly review can help clarify spending patterns and determine the amount to invest in the portfolio, while automating savings ensures that biases do not prevent making necessary investments. Portfolio redistribution can also be considered, taking into account current financial conditions and the risk profile.</p>
</article>

<article>
    <h1><a href="https://moneyguy.com/2020/02/why-americans-are-bad-with-money/" title="Third Article">Why Americans Are Bad With Money</a></h1>
    <!-- <img src="" alt="" /> -->
    <p>This article discusses the reasons why many Americans struggle with money despite living in one of the wealthiest countries in the world. 78% of American workers say they live paycheck to paycheck, and 60% of the population wouldn't have the savings to pay an unexpected $1,000 expense. High spending rate, fear of budgeting, and big spending mistakes are among the reasons cited. The average American spends $18,000 per year on non-essentials like eating out, alcohol, subscription boxes, cable, apps, and online shopping. To manage their finances better, people are advised to reduce discretionary spending and use budgeting tools to help them keep their spending under control. Finally, the article emphasizes the importance of practicing deferred gratification to avoid costly financial mistakes and achieve greater financial health in the future.</p>
</article>

<article>
    <h1><a href="https://medium.com/long-term-perspective/the-real-reason-people-are-bad-with-money-4421d3201dd9" title="Fourth Article">The Real Reason People Are Bad With Money</a></h1>
    <!-- <img src="" alt="" /> -->
    <p>The article explains the "ostrich effect," a psychological phenomenon where people tend to avoid negative information that could help them improve their financial situation. This is often due to fear of negative performance or the fear of facing a difficult situation. People often hide from reality by ignoring their finances, neglecting to track spending or net worth, and failing to set financial goals. This avoidance of the truth can lead to increasing debt and missed opportunities for investment growth. The article suggests that the best way to avoid this is to confront one's financial situation head-on and make a plan for improvement.</p>
</article>

{% endblock %}