.f-btn{
    width: 300px !important;
    padding: 20px !important;
    transition: 0.5s;
    border: #5ebc86;
    flex: 1 1 auto;
    margin: 10px;
    padding: 30px;
    border-radius: 4pt;
    background-size: 200% auto;
    font-family: 'Bukhari Script';
    font-size: 25pt;
    float: right;
}

.f-btn:hover{
    background-position: right center;
}

.nxt-btn{
    background-image: linear-gradient(to right, #f6d365 0%, #ffca28 51%, #f57f17 100%);
}

.quiz-title{
    font-size: 45pt !important;
}
.quiz-question{
    margin-top: 20pt;
}

.question-qte{
    font-weight: 500;
    color: white;
    font-size: larger;
}
.modal-content{
    text-align: center !important;
}
.modal-title{
    font-size: 25pt !important;
}
.modal-body > label {
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 600;
}
.modal-body > input{
    width: 100% !important;
}

.m-btn{
    width: 100px !important;
    padding: 20px !important;
    transition: 0.5s;
    border: none;
    flex: 1 1 auto;
    margin: 10px;
    padding: 30px;
    border-radius: 4pt;
    background-size: 200% auto;
    font-family: 'Bukhari Script';
    font-size: 15pt;
    float: right;
}

.m-btn:hover{
    background-position: right center;
}

.sbmt-btn{
    background-image: linear-gradient(to right, #f6d365 0%, #ffca28 51%, #f57f17 100%);
}

.clse-btn{
    width: 100px !important;
    padding: 20px !important;
    border: none;
    flex: 1 1 auto;
    margin: 10px;
    padding: 30px;
    border-radius: 4pt;
    background-size: 200% auto;
    font-family: 'Bukhari Script';
    font-size: 15pt;
    float: right;
    background-color: #d9d9d9 ;
}